.slogan {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: 700; 
}

.subtitle{
    
    font-size: 19px;
    color: #FFFFFF; 
    
}

.marcadores{
    
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 700; 
    padding: 0; 
    text-align: left; 
    
    
}

  


